<ion-header [translucent]="true"> 
  <ion-toolbar > 
   <p class="kalimat">Feedback</p>
  </ion-toolbar> 
</ion-header> 

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header class="header"> 
        <div> 
          <ion-card-subtitle class="judul">User 1</ion-card-subtitle> 
        </div>  
      </ion-card-header> 
      <ion-card-content>
        <ion-list>
          <ion-item>
           <span>
            Aplikasi nya bagus sekali,tolong update lagi yaa
           </span>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="header"> 
        <div> 
          <ion-card-subtitle class="judul">User 1</ion-card-subtitle> 
        </div>  
      </ion-card-header> 
      <ion-card-content>
        <ion-list>
          <ion-item>
           <span>
          Mantull bro Aplikasi
           </span>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
